.footer {
    background-color:#DD7230;
    padding: 20px;
    text-align: center;
    margin-top: 20%;
  }
  .footer-nav{
    padding-top: 5%;
  }
  .footer-nav a {
    color: white;
    text-decoration: none;
    margin: 30px 20px;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400;
    padding: 5px;

  }
  
  .footer-nav a:hover {
    color:#DD7230;
    background-color: white;
    border-radius: 9px;
  }
  
  .footer-copyright {
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0;
    padding-top: 25px;
    color:white;
  }
  .footer_text{
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
.social-icons a {
    margin: 0 10px;
    transition: transform 0.3s;
  }
.social-icons{
  margin-top: 4.5%;
}
.social-icons img{
  width: 4vh;
  height: 4.3vh;
  padding: 0 25px;
}
  .social-icons a:hover {
    transform: scale(1.3);
  }
  .footer-info {
    color: white;
    padding-top:2%;
  }  