@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@400;600;900&display=swap');
*{
  padding: 0;
  margin: 0;
}
#imported-content{
  width: 100%;
  height: 50vh;
  padding:0;
  margin: 0;
}
#post_recipeForm{
  padding-left: 10vh;
}
.post_main_container{
  background-color: #F8F8FF;
  box-shadow: 10px;
  margin: auto;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding:3vh;
}
#post_recipeForm label, #input-container{
    display: block;
}
#input-container label{
  display: inline;
}
#input-container{
  margin-top: 3%;
}
#result{
  padding-left: 3%;
  font-size: 20px;
  font-style: bold;
}
.calc{
  margin-bottom: 3vh;
}
.error{
  display: block;
  color:red;
  font-size: 12px;
}
p, label, input, ol, div{
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.post-header{
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 900;
  margin-left:30%;
  color: #DD7230;
  text-decoration: underline dotted 10px #DD7230;
  margin-bottom: 3%;
  margin-top: 5%;
  font-size: 8vh;
}
.post_label{
  font-size:20px;
  font-weight:600;
  margin-bottom: 2%;
  margin-top: 1%;
}

.post_main_container hr{
  color: white;
}
#photo{
  display: none;
  margin-bottom: 2%;
  margin-top: 1%;
}
.photo_container{
  display: flex;
  align-items: center;
}
#file-upload-label, #addIngredient, #addStep{
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size:18px;
  font-weight:600;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  border: #DD7230 solid;
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: 2vh;
}
button[type = "submit"]{
  display: inline-block;
  padding: 10px 30px;
  background-color: #DD7230;
  color: white;
  cursor: pointer;
  font-size:25px;
  font-weight:600;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  border: none;
  border-radius: 10px;
  margin: 4% 75%;
}
.steps{
  display: flex;
  align-items: center;
}
.removeIngredient, .removeStep{
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size:18px;
  font-weight:600;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  border: #DD7230 solid;
  border-radius: 100px;
  margin-bottom: 2%;
  margin-left: 3vh;
}
#addIngredient, #addSbutton{
  margin-top: 2vh;
}
#file-upload-label:hover {
  background-color: #DD7230;
  color: white;
}
#addIngredient:hover {
  background-color: #DD7230;
  color: white;
}
#addStep:hover {
  background-color: #DD7230;
  color: white;
}
.removeIngredient:hover {
  background-color: #DD7230;
  color: white;
}
.removeStep:hover {
  background-color: #DD7230;
  color: white;
}

#stepsContainer{
  margin:0;
  padding: 0;
}
#ing_direction, #desc_directions{
  margin-bottom: 3%;
}
.directions{
  width: 75%;
  font-size: 14px;;
}
button[type = "submit"]:hover{
  background-color: #9d4108;
}
.prep input,p{
  display: inline;
}
#post_recipeForm p{
  width: 80%;
  padding-bottom: 3vh;
}
#times, select{
  width: 30vh;
  border-radius: 10px;
  padding: 10px;
  font-weight:600;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-size: 16px;
}

input{
  padding: 10px;
  width: 50vh;
  border-radius: 10px;
  margin-bottom: 2%;
}
textarea{
  width: 50vh;
  height: 13vh;
  padding: 10px;
  margin-bottom: 2vh;
}
.total_time{
  font-size:20px;
  font-weight:600;
  margin:3% 0;
}
#footer{
  width: 100%;
  height: 103vh;
  padding:0;
  margin: 0;
}
